* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.loader-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.842);
	color: white;
	transition: 400ms;
	z-index: 9999;
}

.bar-loader {
	width: 100%;
}

.retro {
	color: aqua;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	letter-spacing: 2px;
}
/* adjusted this to make slider responsive */
.movie-show-flex .swiper-slide {
	width: 15%;
}

.movie-show-flex {
	display: flex;
	margin-left: 15px;
	margin-right: 15px;
}

.movie-show-flex a {
	text-decoration: none;
}

.movie-show-card {
	height: 100%;
	background-color: black;
	color: white;
	border-radius: 25px;
	cursor: grab;
}

.movie-show-card img {
	width: 100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.movie-show-info {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding: 15px;
	flex: 1;
}

.genre-info {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.provider-imgs {
	border-radius: 15px;
	width: 100px;
	margin-right: 15px;
}

.cast-card-img {
	width: 50px;
}
