* {
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	margin-bottom: 15px;
}

main {
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

/* .home-container {
	margin-top: 100px;
} */

.heading-underline {
	background-color: aqua;
	width: 100px;
	height: 8px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.search-container {
	margin-top: 100px;
	margin-bottom: 25px;
	text-align: center;
	height: 45px;
	transition: transform 400ms, 400ms;
}

.search-container:hover {
	transform: scale(1.01);
}

#search {
	font-size: 1rem;

	width: 500px;
	padding: 15px;
	height: 100%;
	background-color: white;
	border: none;
	outline: none;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: black;
}

.search-btn {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 15px;
	position: relative;
	right: 15px;
	top: 1px;
	border: none;
	cursor: pointer;
	background-color: aqua;
	font-size: 1rem;
	transition: transform 400ms, 400ms;
}

.search-btn:hover {
	transform: scale(1.05);
}

.search-loader-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.no-search-results {
	text-align: center;
	margin-top: 50px;
}

.wrapper {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.header-wrapper {
	width: 95%;

	margin-left: auto;
	margin-right: auto;
}

.view-more-btn {
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 1.25rem;
	transition: 400ms;
}

.view-more-btn:hover {
	border: 2px solid aqua;
	transform: scale(1.05);
}

.view-more-btn-in-depth {
	font-size: 1.25rem;
	padding-left: 25px;
	padding-right: 25px;
}

.view-more-btn-in-depth-search {
	margin-top: 15px;
	font-size: 1.25rem;
	padding-left: 25px;
	padding-right: 25px;
}

.view-more-btn-container {
	text-align: center;
	margin-bottom: 50px;
}

/* start of MovieShowCard styles*/

.search-grid {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 15px;
}

.movie-show-card-container {
	transform: scale(0.95);
	transition: 400ms;
}
.movie-show-card-container:hover {
	transform: scale(1);
	color: aqua;
}

.movie-show-card {
	position: relative;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 160%;
	border-radius: 15px;
}

.movie-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* end of MovieShowCard styles*/

/* start of header nav styles*/

header {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 9999;
	display: flex;
	align-items: center;
	line-height: 60px;
	background-color: transparent;
}

.header-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container a {
	color: white;
}

.nav-right {
	display: flex;
	gap: 15px;
	align-items: center;
}

nav > * {
	font-size: 1.25rem;
	color: white;
	padding: 5px;
}

.active {
	text-decoration: underline aqua;
}

.hamburger {
	display: none;
	font-size: 2rem;
	color: white;
	cursor: pointer;
}

.slide-menu {
	position: fixed;
	top: 0;
	right: -100%;
	width: 70%;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: right 0.3s ease-in-out;
}

.slide-menu.open {
	right: 0;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 3rem;
	color: white;
	cursor: pointer;
}

.slide-menu a {
	font-size: 1.25rem;
	color: white;
	padding: 10px;
}

/* end of header nav styles*/

/* start of hero styling*/

.hero-wrapper {
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.hero-container {
	position: relative;
	height: 100%;

	display: flex;
	align-items: center;
}

.hero-backdrop {
	position: relative;
	top: 0;
	z-index: -1;
	background-position: center top;
	background-size: cover;
	height: 85vh;
	width: 100%;
}

.hero-overlay {
	border-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)) fill
		1;
	z-index: 1;
}

/* hero bottom overlay  */
.hero-container::before {
	content: "";
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	pointer-events: none;
	background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.hero-overlay {
	position: relative;
}

.hero-details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	max-width: 60%;
}

.hero-title {
	font-size: 4rem;
	font-weight: 700;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.hero-genres-container {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 40px;
	font-size: 1rem;
}

.hero-overview {
	margin-top: 40px;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	font-size: 1rem;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.hero-btn {
	cursor: pointer;
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 1.25rem;
	transition: 400ms;
}

.hero-btn:hover {
	border-color: aqua;
	transform: scale(1.05);
}

/* end of hero styling*/

/* start of movieShowInDepth styling */

.movie-show-details-backdrop {
	position: relative;
	top: 0;
	z-index: -1;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	height: 840px;
	width: 100%;
}

.movie-show-details-backdrop-overlay {
	border-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) fill 1;
}

.movie-show-details-container {
	margin-top: -320px;
	display: grid;
	grid-template-columns: 500px 1fr;
	gap: 25px;
}

.movie-show-details {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 0;
}

.movie-show-details-poster {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 140%;
	border-radius: 15px;
}

.movie-show-title {
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 40px;
}

.movie-show-genres-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
}

.movie-show-genres {
	cursor: default;
	border: 2px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	transition: 400ms;
}

.movie-show-genres:hover {
	border-color: aqua;
	transform: scale(1.05);
}

.movie-show-rating {
	flex-shrink: 0;
	cursor: default;
	transition: 400ms;
	font-size: 1rem;
	width: 60px;
}

.movie-show-rating:hover {
	transform: scale(1.15);
}

.movie-show-overview {
	line-height: 1.5;
	letter-spacing: 0.00938em;
	font-size: 1rem;
	margin-top: 40px;
}

/* adjusted this to make slider responsive */
.cast-card-container .swiper-slide {
	width: 15%;
}

/* dont touch. This makes the cast cards all be the same height within the swiper*/
.cast-card-container .swiper {
	height: 100%;
}

.cast-card-container {
	width: 100%;
}

.cast-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	transition: transform 400ms, 400ms;
	transform: scale(0.95);
}

.cast-card-img {
	object-fit: cover;
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	border-radius: 15px;
}

.cast-info {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	width: 100%;
}

/* .cast-card p {
	margin-top: 10px;
} */

.cast-card:hover {
	transform: scale(1);
	color: aqua;
}

.cast-card-container a {
	text-decoration: none;
	color: white;
}

.additional-info p {
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.heading {
	margin-top: 40px;
}

.movie-show-video .youtube-trailer iframe {
	width: 100%;
	height: 600px;
}

.movie-show-video
	.swiper
	.swiper-pagination
	.swiper-pagination-progressbar-fill {
	background: white;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	color: white;
}

.cast-card-container .swiper .swiper-button-disabled,
.movie-show-video .swiper .swiper-button-disabled {
	pointer-events: all;
}

.movie-show-video .swiper {
	padding-left: 4rem;
	padding-right: 4rem;
}

.movie-show-video .swiper-slide-prev,
.movie-show-video .swiper-slide-next {
	opacity: 0.4;
}

.similar-movies-heading {
	margin-top: 40px;
}

/* end of movieShowInDepth styling */
.display-none {
	display: none;
}

.loader-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	/* background-color: rgba(0, 0, 0, 0.842); */
	background-color: black;
	color: white;
	transition: 400ms;
	z-index: 9999;
}

.heading-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	font-size: 1rem;
}

.bar-loader {
	width: 100%;
}

.retro {
	color: aqua;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	letter-spacing: 2px;
}
/* adjusted this to make slider responsive */
.movie-show-flex .swiper-slide {
	width: 15%;
}

.movie-show-flex .swiper {
	height: 100%;
}

.movie-show-flex {
	height: 100%;
}

.movie-show-flex a {
	text-decoration: none;
}

.genre-info {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.platform-container .swiper-slide {
	width: 125px;
}

.provider-img-container {
	height: 100%;
}

.provider-img {
	position: relative;
	background-size: cover;
	background-position: center center;
	padding-top: 100%;
	border-radius: 15px;
}

.provider-img-overlay {
	border-image: linear-gradient(
			180deg,
			rgba(15, 15, 15, 0) 54%,
			rgba(15, 15, 15, 0.8841911764705882) 98%
		)
		fill 1;
}

.platform-headings {
	margin-top: 40px;
}

.person-flex {
	display: flex;
	gap: 25px;
	margin-top: -320px;
	margin-bottom: 40px;
}

.person-flex img {
	border-radius: 15px;
}

/* start of move/show page styling */

/* .page-heading {
	margin-top: 80px;
} */

/* end of move/show page styling */

.backdrop-image {
	background-size: cover;
	background-position: center top;
	padding-top: 45%;
	border-radius: 15px;
}

.poster-container .swiper-slide {
	width: 20%;
}

.poster-image {
	background-size: cover;
	background-position: center center;
	padding-top: 160%;
	border-radius: 15px;
}

.view-more-button-loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 50px;
}

.no-similar-movies-shows {
	margin-bottom: 80px;
}

.general-error-message-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1530px) {
	.wrapper {
		width: 95%;
	}
}

@media (max-width: 1075px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.hero-backdrop {
		height: 725px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 90%;
	}

	.nav-right {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.hero-backdrop {
		height: 585px;
	}

	.hero-details-container {
		min-width: 100%;
	}

	.hero-title {
		font-size: 2rem;
		-webkit-line-clamp: 2;
	}

	.hero-genres-container {
		flex-wrap: wrap;
		max-height: 106px;
		overflow: hidden;
	}

	.movie-show-genres {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.page-heading {
		font-size: 1.75rem;
	}
}

@media (max-width: 735px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
	}
}

@media (max-width: 480px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(125px, 0.5fr));
	}
}

@media (max-width: 330px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(100px, 0.5fr));
	}
}

@media (max-width: 275px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(90px, 0.5fr));
	}
}

@media (max-width: 250px) {
	.search-grid {
		grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
	}
}
