* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	margin-bottom: 15px;
}

main {
	color: white;
}

a {
	text-decoration: none;
}

.search-container {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	height: 45px;
	transition: transform 400ms, 400ms;
}

.search-container:hover {
	transform: scale(1.01);
}

#search {
	font-size: 18px;
	width: 500px;
	padding: 15px;
	height: 100%;
	background-color: white;
	border: none;
	outline: none;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: black;
}

.search-btn {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 15px;
	position: relative;
	right: 15px;
	top: 1px;
	border: none;
	cursor: pointer;
	background-color: aqua;
	font-size: 16px;
	transition: transform 400ms, 400ms;
}

.search-btn:hover {
	transform: scale(1.05);
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.view-more-btn {
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 16px;
	transition: 400ms;
}

.view-more-btn:hover {
	border: 2px solid aqua;
	transform: scale(1.05);
}

.view-more-btn-in-depth {
	margin-top: 50px;
	font-size: 24px;
	padding-left: 25px;
	padding-right: 25px;
}

.view-more-btn-in-depth-search {
	margin-top: 25px;
	margin-bottom: 50px;
	font-size: 24px;
	padding-left: 25px;
	padding-right: 25px;
}

.view-more-btn-container {
	text-align: center;
}

/* start of MovieShowCard styles*/

.movie-show-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: white;
	border-radius: 25px;
	cursor: pointer;
	transition: transform 400ms, 400ms;
	transform: scale(0.95);
}

.movie-show-card:hover {
	color: aqua;
	transform: scale(1);
}

.movie-show-card img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

.movie-show-info {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	font-size: 18px;
}

/* end of MovieShowCard styles*/

/* start of header nav styles*/

header {
	position: sticky;
	top: 0px;
	z-index: 9999;
	display: flex;
	align-items: center;
	line-height: 60px;
	background-color: black;
}

.header-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container a {
	color: white;
}

.nav-right {
	display: flex;
	gap: 15px;
	align-items: center;
}

nav > * {
	font-size: 20px;
	color: white;
	padding: 5px;
}
.active {
	text-decoration: underline aqua;
}

/* end of header nav styles*/

/* start of cast card styling*/

/* .cast-card-container .swiper-slide {
	width: 10%;
} */

.cast-card {
	transition: transform 400ms, 400ms;
	transform: scale(0.95);
}

/* .cast-info {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
} */

.cast-card p {
	margin-top: 10px;
}

.cast-card:hover {
	transform: scale(1);
	color: aqua;
}

.cast-card-container {
	width: 100%;
}

.cast-card-container a {
	text-decoration: none;
	color: white;
}

.cast-card-img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

/* end of cast card styling*/

/* start of movieShowInDepth styling */

.movie-show-details-container-relative {
	position: relative;
	bottom: 120px;
}

.movie-show-details-backdrop {
	position: relative;
	z-index: -1;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	height: 665px;
	width: 100%;
}

/* .movie-show-details-backdrop-overlay {
	border-image: linear-gradient(
			180deg,
			rgba(15, 15, 15, 0) 0%,
			rgba(15, 15, 15, 0.9066001400560224) 81%
		)
		fill 1;
} */
.movie-show-details-backdrop-overlay {
	border-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) fill 1;
}

.movie-show-details-container {
	display: grid;
	grid-template-columns: 500px 1fr;
	gap: 25px;
}

.movie-show-details {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 0;
}

.movie-show-details-poster img {
	border-radius: 25px;
}

.movie-show-title {
	font-size: 54px;
	margin-bottom: 10px;
}

.movie-show-genres {
	display: flex;
	gap: 15px;
}

.movie-show-genres p {
	cursor: default;
	border: 2px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	transition: 400ms;
}

.movie-show-genres p:hover {
	border-color: aqua;
	transform: scale(1.05);
}

.movie-show-rating {
	margin-top: 20px;
}

.movie-show-overview {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.movie-show-trailer {
	flex-grow: 1;
}

.youtube-trailer {
	height: 100%;
}

.movie-show-trailer .youtube-trailer iframe {
	width: 100%;
	height: 100%;
}

.cast-heading {
	margin-top: 80px;
	margin-bottom: 20px;
}

.similar-movies-heading {
	margin-top: 80px;
	margin-bottom: 15px;
}

.platform-container {
	margin-top: 80px;
}

/* end of movieShowInDepth styling */
.display-none {
	display: none;
}

.loader-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.842);
	color: white;
	transition: 400ms;
	z-index: 9999;
}

.heading-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	font-size: 16px;
}

.bar-loader {
	width: 100%;
}

.retro {
	color: aqua;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	letter-spacing: 2px;
}
/* adjusted this to make slider responsive */
.movie-show-flex .swiper-slide {
	width: 15%;
}
/* adjusted this to make slider responsive */
.cast-card-container .swiper-slide {
	width: 15%;
}

/* .swiper-wrapper {
	width: 100vh;
} */

.movie-show-flex a {
	text-decoration: none;
}

.genre-info {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.provider-img-container {
	display: flex;
	gap: 15px;
	margin-bottom: 50px;
}

.provider-img {
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 125px;
	width: 125px;
	border-radius: 15px;
}

.provider-img-overlay {
	border-image: linear-gradient(
			180deg,
			rgba(15, 15, 15, 0) 54%,
			rgba(15, 15, 15, 0.8841911764705882) 98%
		)
		fill 1;
}

.platform-headings {
	margin-top: 15px;
	margin-bottom: 15px;
}

.search-grid {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
}
